[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Leonardo Wada (eldoth)
[access "refs/for/refs/*"]
	read = group user/Leonardo Wada (eldoth)
	push = group user/Leonardo Wada (eldoth)
	label-Code-Review = -2..+2 group user/Leonardo Wada (eldoth)
	label-Verified = -1..+1 group user/Leonardo Wada (eldoth)
	rebase = group user/Leonardo Wada (eldoth)
	removeReviewer = group user/Leonardo Wada (eldoth)
	submit = group user/Leonardo Wada (eldoth)
[access "refs/heads/*"]
	read = group user/Leonardo Wada (eldoth)
	create = group user/Leonardo Wada (eldoth)
	push = +force group user/Leonardo Wada (eldoth)
	pushMerge = group user/Leonardo Wada (eldoth)
[access "refs/tags/*"]
	push = +force group user/Leonardo Wada (eldoth)
	pushTag = group user/Leonardo Wada (eldoth)
	pushSignedTag = group user/Leonardo Wada (eldoth)
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
